.order-label, .table-orders thead{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
}
.summary-list {
    width: 30%;
}

.summary-description {
    width: 70%;
}
.table.table-orders {
    color: #565872;
    font-size: 14px;

}
.table.table-orders thead{
    border:  0px solid blue;
}

.orders-card{
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(86, 88, 114, 0.2);
}

.orders-img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(86, 88, 114, 0.2);
}

.order-bottom-summary-list{
    width: 50%;
    padding-left: 2rem;
}

.order-bottom-summary-description{
    width: 50%;
    padding-left: 2rem;
}

